@tailwind components;

@layer components {
  .menu-item1 {
    @apply text-sm font-medium text-[#3368c0] relative cursor-pointer after:content-[''] after:w-full after:h-[3px] after:bg-[#3368c0] after:absolute after:left-0 after:-bottom-2 after:rounded after:-translate-x-11 after:opacity-0 after:transition-all after:hover:translate-x-0 after:hover:opacity-100;
  }
  .menu-item {
    @apply text-sm font-medium text-[#3368c0] relative cursor-pointer after:content-[''] after:w-full after:h-[3px] after:bg-[#3368c0] after:absolute after:left-0 after:-bottom-2 after:rounded after:scale-x-0 after:transition after:duration-300 after:origin-center after:hover:translate-x-0 after:hover:scale-x-100;
  }
  .hero-img {
    @apply w-1/4 h-5/6 rounded md:w-28 md:h-60 lg:w-44 lg:h-80;
  }
  .primary-btn {
    @apply h-11 bg-[#3368c0] text-white text-sm px-6 rounded hover:bg-blue-200 hover:text-[#3368c0];
  }
  .gallery-img {
    @apply w-full h-72 md:h-full object-cover;
  }
  .arrow-btn {
    @apply bg-white p-1 border border-darkBlue rounded-md absolute top-[45%];
  }
}

.text-gradient {
  background: linear-gradient(45deg, #285091 11.46%, #4e8bf1 91.65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
